<div id="game"></div>
<h5 class = "identificacao">Aluno: Rodrigo Santos Correa || Matrícula: 22251139</h5>
<ul class="containerApresentacao">Observações: 
  <li>Ao agachar (seta para baixo), o sistema é "Toggle" e não "Hold", como no jogo original</li>
  <li>Ao morrer, apenas o click no botão de restart irá reiniciar o jogo</li>
  <li>Pressione D para habilitar/desabilitar o sistema de colisão</li>
  <li>O jogo se encontra desbalanceado após o começo das aparições dos pássaros (Pterodáctilos)</li>
  <li>Obrigado por jogar, professor!</li>
</ul>