<div class="containerIndex">
    <h1>Olá, bem-vindo</h1>
    <div>
        <img src="/img/logoUfam.png"/>
        <img src="/img/icomp.png"/>
    </div>
    <p>
        O intuito do projeto é criar a base sobre a Programação Web de forma prática, implementando um sistema em duas partes,
        primeiramente fazendo uma recriação do jogo TRex Runner, disponível no Google Chrome e posteriormente todo um sistema ao seu redor.
        Esse sistema explora conceitos chaves da área, tais como: Modelo MVC, Views, ORMs, Frameworks. As bibliotecas que visam dinamizar o 
        desenvolvimento também são ótimas, pois não retiram todo o trabalho criativo e exploratório na sua construção, enquanto facilitam o aprendizado
    </p>
    <ul class = "participantes">
        <li>
            <img src="/img/aluno.jpg" class="imgParticipantes"/><span>Aluno: Rodrigo Santos Correa - 22251139</span>
        </li>
        <li>
            <img src="/img/professor.jpg" class="imgParticipantes"/><span>Professor: David Fernandes de Oliveira</span>
        </li>
    </ul>
    
     
</div>
