<h2>Login de Usuário</h2>
<form action="/login" method="post">

    <div class="form-group">
        <label class="col-form-label mt-4" for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite seu email" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="senha" class="form-label mt-4">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-primary mt-4">Login</button>
</form>