<h1>O jogo T-Rex Runner</h1>
<img src="/img/dinoLogo.png" alt="imgXadrez" width = "503px" height="180px" style="margin-top:2em; margin-bottom:2em"/>
<p>
    O T-Rex Runner é um jogo no modelo "corrida infinita", ou seja, segue infinitamente até que o jogador 
    perca, isso é provocado pelo aumento de dificuldade progressiva no jogo. Especificamente quando a velocidade
    dos obstáculos que se aproximam são cada vez mais rápidas.
</p>
<p>
    Nele, você controla um simpático dinossauro que deve correr em meio a um ambiente desértico por dias e noites, 
    esquivando-se ,por meio de pulos ou abaixando-se, de cactos espinhoso e dinossauros voadores. 
    Caso você encoste em um deles, você perde.
</p>